* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    margin: 20px;
}

.card-principal{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    margin-top: 20px;
}


h1 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    background-color: rgb(73, 113, 201);
    color: white;

    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.valorestoque-titulo{
    background-color: rgb(31, 56, 110);
}
.cadastro-p{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.p-caro-titulo{
    background-color: rgb(151, 96, 50);

}

.cadastro-p input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}   

.cadastro-p button{
    border-radius: 5px;
    border: none;
    width: 150px;
    background-color: rgb(73, 113, 201);
    color: white;
    cursor: pointer;
}


.p-qtde-titulo{
    background-color: rgb(35, 119, 9);
}
.p-caro-resultado, .p-qtde-resultado, .valorestoque-resultado{
    color: black;
    width: 250px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}


.p-caro-resultado{
    background-color: rgb(245, 166, 75);
}


.p-caro-titulo, .p-qtde-titulo, .valorestoque-titulo{
    color: white;
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.valorestoque-resultado{
    background-color: rgb(64, 112, 218);
}

.p-informacao{
    margin-top: 50px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 1100px;
}
.p-qtde-resultado{
    background-color: rgb(45, 177, 5);
}